{% extends "base_hospital.html" %}

{% block title %} Patient Form {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
    <style>
      html, body {
      min-height: 100%;
      }
      body, div, form, input, select, textarea, p {
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      }
      h1 {
      position: absolute;
      margin: 0;
      line-height: 55px;
      font-size: 55px;
      color: #fff;
      z-index: 2;
      }
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 20px;
      }
      form {
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 30px 0 #339CFF;
      }
      .banner {
      position: relative;
      height: 230px;
      background-image: url("static/images/corona.jpg");
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      }
      .banner::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      width: 100%;
      height: 100%;
      }
      input, select, textarea {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      }
      select {
      width: 100%;
      padding: 7px 0;
      background: transparent;
      }
      textarea {
      width: calc(100% - 12px);
      padding: 5px;
      }
      .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
      color: #339CFF;
      }
      .item input:hover, .item select:hover, .item textarea:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 6px 0 #339CFF;
      color: #339CFF;
      }
      .item {
      position: relative;
      margin: 10px 0;
      }
      input[type=radio], input[type=checkbox]  {
      display: none;
      }
      label.radio {
      position: relative;
      display: inline-block;
      margin: 5px 20px 15px 0;
      cursor: pointer;
      }
      .question span {
      margin-left: 30px;
      }
      label.radio:before {
      content: "";
      position: absolute;
      left: 0;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 2px solid #ccc;
      }
      input[type=radio]:checked + label:before, label.radio:hover:before {
      border: 2px solid #339CFF;
      }
      label.radio:after {
      content: "";
      position: absolute;
      top: 6px;
      left: 5px;
      width: 8px;
      height: 4px;
      border: 3px solid #339CFF;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      opacity: 0;
      }
      input[type=radio]:checked + label:after {
      opacity: 1;
      }
      input[type="date"]::-webkit-inner-spin-button {
      display: none;
      }
      .item i, input[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      font-size: 20px;
      color: #a9a9a9;
      }
      .item i {
      right: 1%;
      top: 30px;
      z-index: 1;
      }
      [type="date"]::-webkit-calendar-picker-indicator {
      right: 0;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
      }
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background: #339CFF;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      box-shadow: 0 0 18px 0 #3358FF;
      }
      @media (min-width: 568px) {
      .name-item, .city-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
      .name-item input, .city-item input {
      width: calc(50% - 20px);
      }
      .city-item select {
      width: calc(50% - 8px);
      }
      }
    </style>
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="testbox">
        <form action="{% url 'update_patient_status' patient.uid %}" method="GET">
            {% csrf_token %}
              <div class="banner">
                <h1>Patient Details</h1>
              </div>
              <div class="item">
                <p>Name</p>
                <div class="name-item">
                  <input type="text" id="name" name="name" placeholder="{{ patient.name }}" required readonly/>
                  <input type="text" id="surname" name="surname" placeholder="{{ patient.surname }}" required readonly/>
                </div>
              </div>
              <div class="item">
                <p>Email</p>
                <input type="email" name="email" id="email" placeholder="{{ patient.email }}"/>
              </div>
              <div class="item">
                <p>Phone</p>
                <input type="text" name="phone" id="phone" placeholder="{{ patient.phone }}" required readonly/>
              </div>
              <div class="item">
                <p>Address</p>
                <input type="text" name="address" id="address" placeholder="{{ patient.address }}" required readonly/>
                <div class="city-item">
                  <input type="text" name="city" id="city" placeholder="{{ patient.city }}" required readonly/>
                  <input type="text" name="region" id="region" placeholder="{{ patient.region }}" required readonly/>
                  <input type="text" name="postal" id="postal" placeholder="{{ patient.postal }}" required readonly/>
                  <select name="country" required>
                    <option selected value="{{ patient.country }}" disabled>{{ patient.country }}</option>
                    
                    <!-- <option value="{{ country }}" name="country_{{ forloop.counter }}">{{ country }}</option> -->
<!--                    <option value="2">Germany</option>-->
<!--                    <option value="3">France</option>-->
<!--                    <option value="4">Armenia</option>-->
<!--                    <option value="5">USA</option>-->
                   
                  </select>
                </div>
              </div>
              <div class="question">
                <p>The COVID19 status of the patient</p>
                {% if patient.status == "0" %}
                <div class="question-answer">
                    <div>
                        <input type="radio" value=0 id="Infected" name="status" checked/>
                        <label for="Infected" class="radio"><span>Infected</span></label>
                    </div>
                    <div>
                        <input type="radio" value=1 id="Suspected" name="status"/>
                        <label for="Suspected" class="radio"><span>Suspected</span></label>
                    </div>
                    <div>
                        <input type="radio" value=2 id="Cured" name="status"/>
                        <label for="Cured" class="radio"><span>Cured</span></label>
                    </div>
                </div>
                {% elif  patient.status == "1" %}
                <div class="question-answer">
                    <div>
                        <input type="radio" value=0 id="Infected" name="status"/>
                        <label for="Infected" class="radio"><span>Infected</span></label>
                    </div>
                    <div>
                        <input type="radio" value=1 id="Suspected" name="status" checked/>
                        <label for="Suspected" class="radio"><span>Suspected</span></label>
                    </div>
                    <div>
                        <input type="radio" value=2 id="Cured" name="status"/>
                        <label for="Cured" class="radio"><span>Cured</span></label>
                    </div>
                </div>
                {% else %}
                <div class="question-answer">
                    <div>
                        <input type="radio" value=0 id="Infected" name="status"/>
                        <label for="Infected" class="radio"><span>Infected</span></label>
                    </div>
                    <div>
                        <input type="radio" value=1 id="Suspected" name="status"/>
                        <label for="Suspected" class="radio"><span>Suspected</span></label>
                    </div>
                    <div>
                        <input type="radio" value=2 id="Cured" name="status" checked/>
                        <label for="Cured" class="radio"><span>Cured</span></label>
                    </div>
                </div>
               {% endif %}
              </div>
              <div class="item">
                <p>Date of last update</p>
                <input type="text" id="ldate" name="ldate" placeholder="{{ patient.created_at }}" readonly/>
                <i class="fas fa-calendar-alt"></i>
            </div>
            <div class="item">
                <p>Date of Event</p>
                <input type="date" id="bdate" name="bdate"/>
                <i class="fas fa-calendar-alt"></i>
            </div>
                
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Comments for patient<small>notes</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div id="alerts"></div>
                  <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor-one">
                    <div class="btn-group">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                      <ul class="dropdown-menu">
                      </ul>
                    </div>

                    <div class="btn-group">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li>
                          <a data-edit="fontSize 5">
                            <p style="font-size:17px">Huge</p>
                          </a>
                        </li>
                        <li>
                          <a data-edit="fontSize 3">
                            <p style="font-size:14px">Normal</p>
                          </a>
                        </li>
                        <li>
                          <a data-edit="fontSize 1">
                            <p style="font-size:11px">Small</p>
                          </a>
                        </li>
                      </ul>
                    </div>

                    <div class="btn-group">
                      <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                      <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                      <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                      <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                    </div>

                    <div class="btn-group">
                      <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                      <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                      <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                      <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                    </div>

                    <div class="btn-group">
                      <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                      <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                      <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                      <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                    </div>

                    <div class="btn-group">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                      <div class="dropdown-menu input-append">
                        <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
                        <button class="btn" type="button">Add</button>
                      </div>
                      <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                    </div>

                    <div class="btn-group">
                      <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                      <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                    </div>

                    <div class="btn-group">
                      <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                      <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                    </div>
                  </div>

                  <div name="bnotes" id="bnotes" class="editor-wrapper"><textarea style="width: 100%; height: 400px;" name="notes" id="notes">{{ patient.notes }}</textarea></div>

                  <!-- <textarea name="descr" id="descr" style="display:none;"></textarea> -->
                </div>
              </div>
          </div>

                <div class="btn-block">
                  <button type="submit" id="save" action="add_patients">Update</button>
                </div>
        </form>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
  <script src="/static/vendors/echarts/dist/echarts.min.js"></script>
  <link href="/static/css/patient.css" rel="stylesheet">
<!-- <script>
  $(document).ready(function() {
    $("#save").click(function () {
        // console.log("Link starting with save_");
        // var loop_it = $(this).attr('name').replace("save_", "");
        var name = $("#name").val();
        console.log(name);
        var status = $("input[name ='status']:checked").val();
        console.log(status);
        var surname = $("#surname").val();
        console.log(surname);
        var email = $("#email").val();
        console.log(email);
        var phone = $("#phone").val();
        console.log(phone);
        var city = $("#city").val();
        console.log(city);
        var region = $("#region").val();
        console.log(region);
        var postal = $("#postal").val();
        console.log(postal);
        var notes = $("textarea[name ='descr']").val();
        console.log(notes);
        var bdate = $("#bdate").val();
        console.log(bdate);
        
        $.ajax({
            url: '{% url "add_patients" %}',
            data: {
              'name': name,
              'status' : status,
              'surname' : surname,
              'email' : email,
              'phone' : phone,
              'city' : city,
              'notes' : notes,
              'region' : region,
              'postal': postal,
              'bdate' : bdate
            },
            method: 'POST',
            dataType: 'json',
            success: function (data) {
              if (data) {
                alert("OK");
              }
            }
            });
    });
});
</script> -->

{% endblock javascripts %}